{{! This is the post loop - each post will be output using this markup }}
<div class="posts">
    {{#foreach posts}}
    <article class="{{post_class}} {{#if featured}}post--featured{{/if}}">
        {{#if feature_image}}
        <span class="post-image" style="background-image:url({{img_url feature_image}})"></span>
        {{/if}}
        <div class="post-content">
            <header class="post-header">
                <h2 class="post-title"><a class="black" href="{{url}}">{{{title}}}</a></h2>
            </header>
            <div class="post-excerpt">
                <p class="mb0">{{excerpt}} <a class="read-more" href="{{url}}">&raquo;</a></p>
            </div>
        </div>
    </article>
    {{/foreach}}
</div>