<div class="nav">
    <div class="social">
        <a href="{{@blog.url}}/rss/" title="Subscribe to RSS feed"><span class="screen-reader-text">Subscribe</span><img src="{{asset 'images/feed.svg'}}" alt="Feed icon"></a>
        {{#if @blog.twitter}}
        <a href="{{twitter_url @blog.twitter}}" title="Twitter page"><span class="screen-reader-text">Twitter page</span><img src="{{asset 'images/twitter.svg'}}" alt="Twitter icon"></a>
        {{/if}}
    </div>

    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</div>
