<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Rubik">
    <link rel="stylesheet" type="text/css" href="{{asset "css/dist/main.min.css"}}" />
    {{!-- <link rel="stylesheet" type="text/css" href="{{asset "css/dist/custom.css"}}" /> --}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body>

    {{> sidebar}}

    <div class="content-area">

        {{! Everything else gets inserted here }}
        {{{body}}}

    </div>

    <footer class="site-footer">
        Kevin Lamping &copy; {{date format="YYYY"}}&nbsp;&nbsp;&nbsp;&star;&nbsp;&nbsp;&nbsp;Powered by <a href="https://ghost.org">Ghost</a><br></div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
