{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content">

    {{#if feature_image}}
    <figure class="post-full-image" style="background-image: url({{feature_image}})">
    </figure>
    {{/if}}

    <article class="{{post_class}}">

        <header class="post-header">

            <h1 class="post-title">{{title}}</h1>
            <div class="post-meta">
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMM YYYY"}} {{tags prefix=" on "}}</time>
            </div>

        </header>

        <div class="post-content">
            {{content}}
        </div>

        <footer class="post-footer">

            <div class="share">
                <h4 class="h5 caps">Share this post</h4>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <img class="align-middle" src="{{asset 'images/twitter.svg'}}" alt="Twitter icon">
                    <span class="hide">Twitter</span>
                </a>
                <a href="http://www.reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"
                    onclick="window.open(this.href, 'reddit-share', 'width=550,height=235');return false;">
                    <img class="align-middle" src="{{asset 'images/reddit.svg'}}" alt="Reddit icon">
                    <span class="hide">Reddit</span>
                </a>

            </div>

            {{#if @labs.subscribers}}
            <div class="subscribe">
                <h3 class="h2 mt0">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox.</p>
                {{subscribe_form placeholder="Your email address"}}
            </div>
            {{/if}}

        </footer>

    </article>

</main>

{{/post}}
