{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content single-post {{#if feature_image}}has-feature-image{{/if}}">

    {{#if feature_image}}
    <figure class="post-full-image" style="background-image: url({{feature_image}})">
    </figure>
    {{/if}}

    <article class="{{post_class}}">

        <header class="post-header">

            <h1 class="post-title">{{title}}</h1>
            <div class="post-meta">
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMM YYYY"}} {{tags prefix=" on "}}</time>
              <a href="https://getpocket.com/save?url={{url absolute="true"}}" class="pocket-btn" target="_blank" onclick="_paq.push(['trackEvent', 'Social', 'Click', 'Pocket']);"><span class="screen-reader-text">Save to Pocket</span></a>
            </div>

        </header>

        <div class="post-content">
            {{content}}
        </div>

        <footer class="post-footer">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup" class="newsletter-signup">
            <form action="https://kevinlamping.us10.list-manage.com/subscribe/post?u=17d67d558ef439917f81518bc&amp;id=e0ef3d13c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Get free testing tips and videos!</label>

                <div class="signup-items">

                    <div class="mc-field-group email-input">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address..." aria-label="Your email address">
                      <input type="hidden" value="16" name="group[13325][16]">
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_17d67d558ef439917f81518bc_e0ef3d13c1" tabindex="-1" value=""></div>
                    <div><input type="submit" value="Join Now!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
                <div id="mce-responses" class="action-response">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
              </div>
              <p class="powered-by">No spam. Unsubscribe anytime. Powered by <a href="http://eepurl.com/dNZWVY" title="MailChimp - email marketing made easy and fun">MailChimp</a></p>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->

            {{!-- <div class="share">
                <h4 class="h5 caps">Share this post</h4>
                <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');_paq.push(['trackEvent', 'Social', 'Click', 'Twitter']);return false;">
                    <img class="align-middle" src="{{asset 'images/twitter.svg'}}" alt="Twitter icon">
                    <span class="hide">Twitter</span>
                </a>
                <a href="http://www.reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"
                    onclick="window.open(this.href, 'reddit-share', 'width=550,height=235');_paq.push(['trackEvent', 'Social', 'Click', 'Reddit']);return false;">
                    <img class="align-middle" src="{{asset 'images/reddit.svg'}}" alt="Reddit icon">
                    <span class="hide">Reddit</span>
                </a>
            </div> --}}

            {{#if @labs.subscribers}}
            <div class="subscribe">
                <h3 class="h2 mt0">Subscribe to {{@blog.title}}</h3>
                <p>Get the latest posts delivered right to your inbox.</p>
                {{subscribe_form placeholder="Your email address"}}
            </div>
            {{/if}}

        </footer>

    </article>

</main>

{{/post}}
