{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content single-post {{#if feature_image}}has-feature-image{{/if}}">

    {{#if feature_image}}
    <figure class="post-full-image" style="background-image: url({{feature_image}})">
    </figure>
    {{/if}}

    <article class="{{post_class}}">

        <header class="post-header">

            <h1 class="post-title">{{title}}</h1>
            <div class="post-meta">
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMM YYYY"}} {{tags prefix=" on "}}</time>
              <a href="https://getpocket.com/save?url={{url absolute="true"}}" class="pocket-btn" target="_blank" onclick="_paq.push(['trackEvent', 'Social', 'Click', 'Pocket']);"><span class="screen-reader-text">Save to Pocket</span></a>
            </div>

        </header>

        <div class="post-content">
            {{content}}
        </div>

        <footer class="post-footer">
            <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
            <form
                action="https://app.convertkit.com/forms/1459427/subscriptions"
                class="seva-form formkit-form newsletter-signup"
                method="post"
                data-sv-form="1459427"
                data-uid="4eafb32eb0"
                data-format="inline"
                data-version="5"
                data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"facebook":null,"segment":null,"pinterest":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form"},"recaptcha":{"enabled":false},"return_visitor":{"action":"hide","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
            >
                <label for="email_address">Get free testing tips!</label>
                <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
                <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields signup-items">
                    <div class="formkit-field email-input">
                        <input class="formkit-input" name="email_address" id="email_address" placeholder="Your email address" required="" type="email" />
                    </div>
                    <div>
                        <button data-element="submit" class="formkit-submit formkit-submit button">
                            Subscribe
                        </button>
                    </div>
                </div>
                <div class="formkit-guarantee powered-by" data-element="guarantee"><p>No spam. Unsubscribe anytime. </p></div>
            </form>
        </footer>

    </article>

</main>

{{/post}}
