{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content single-post {{#if feature_image}}has-feature-image{{/if}}">

    {{#if feature_image}}
    <figure class="post-full-image" style="background-image: url({{feature_image}})">
    </figure>
    {{/if}}

    <article class="{{post_class}}">

        <header class="post-header">

            <h1 class="post-title">{{title}}</h1>
            <div class="post-meta">
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMM YYYY"}} {{tags prefix=" on "}}</time>
              <a href="https://getpocket.com/save?url={{url absolute="true"}}" class="pocket-btn" target="_blank" onclick="_paq.push(['trackEvent', 'Social', 'Click', 'Pocket']);"><span class="screen-reader-text">Save to Pocket</span></a>
            </div>

        </header>

        <div class="post-content">
            {{content}}
        </div>

        <footer class="post-footer">
            <!-- AWeber Web Form Generator 3.0.1 -->
            <form method="post" class="newsletter-signup" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl" target="_blank" >
              <h2 class="newsletter-header">Interested in Front-End Testing?</h2>
              <p>Get <a href="https://newsletter.frontendtesting.com">my free weekly email covering Front-End Testing</a> in a bite-sized manner.<p>
              <div style="display: none;">
                <input type="hidden" name="meta_web_form_id" value="992772663" />
                <input type="hidden" name="meta_split_id" value="" />
                <input type="hidden" name="listname" value="awlist5710764" />
                <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" id="redirect_ad7d592a8981123160ecdcdac8902c13" />
                <input type="hidden" name="meta_adtracking" value="Blog_Signup" />
                <input type="hidden" name="meta_message" value="1" />
                <input type="hidden" name="meta_required" value="email" />
                <input type="hidden" name="meta_tooltip" value="" />
              </div>
              <div class="signup-items">
                <div class="email-input">
                  <input placeholder="Your email address" type="text" name="email" value="" />
                </div>
                <div>
                  <button name="submit" class="button">Subscribe</button>
                </div>
                <div class="af-element tag" style="display:none;"><input id="awf_tag-109228666" type="hidden" name="tag_109228666" value="kevin's testing newsletter:blog" /></div>
              </div>
              <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=nJxM7OxMbGzM" alt="" /></div>
              <div class="powered-by"><p>No spam. Unsubscribe anytime. </p></div>
            </form>
            <!-- /AWeber Web Form Generator 3.0.1 -->
        </footer>

    </article>

</main>

{{/post}}
